.env
cache/
spool/
state/
config/logspec_worker.yaml

# Rust
/target/
**/*.rs.bk
Cargo.lock

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
dist/
.eggs/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt
